<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Montserrat:400,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'medical' %>
	<%= stylesheet_link_tag 'dark' %>
	<%= stylesheet_link_tag 'font-icons' %>
	<%= stylesheet_link_tag 'medical-icons' %>
	<%= stylesheet_link_tag 'animate' %>
	<%= stylesheet_link_tag 'magnific-popup' %>
	<%= stylesheet_link_tag 'fonts' %>
	<%= stylesheet_link_tag 'responsive' %>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= stylesheet_link_tag 'colors' %>
	<%= stylesheet_link_tag 'application' %>
	
	<%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
	
	<title>Canvas</title>
</head>
<body class="stretched" data-loader-html="<div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='http://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='http://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>">

	
		<%= yield %>
	

	<%= javascript_include_tag 'functions' %>
</body>
</html>
